.App {
  text-align: center;
    background-color: #96939B;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #554255;
  display: flex;
    flex-direction: row;
}
.flex-header h3 {
    color: white;
    font-family: "Lucida Grande";
    font-weight: 100;
    margin: 2vw 0;
}

.deviceIcon {
    border-radius: 10px;
    padding: 2vh 2vh;
    background-color:#DAD9DA;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
