.App {
  text-align: center;
    background-color: #D0CECF;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(150,196,236);
  display: flex;
    flex-direction: row;
    align-items: center;
}
.flex-header-left{
    paddingHorizontal: 10;
    display: flex;
    width: 100vw
}
.flex-header-left h5 {
    color: white;
    font-family: "Lucida Grande";
    font-weight: 100;
    margin: 2vw 0;
    text-decoration: underline;

}
.flex-header-right {
    flex-direction: row;
    justify-content: flex-end;
    width: 80vw;
    padding-right: 2vw;
}

.deviceIcon {
    border-radius: 10px;
    padding: 2vh 2vh;
    background-color:#DAD9DA;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
